* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.right {
  display: flex;
  flex-direction: column;
}

.right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.right .graph {
  flex-grow: 1;
}

.left {
  flex: 0.9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.infoboxes {
  display: flex;
  justify-content: space-between;
}

.dropdown {
  background-color: white;
}

.table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: #6a5d5d;
  background-color: white;
  overflow-x: hidden;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
  border: none;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

.lastupdate {
  color: #6a5d5d;
  margin: 10px 10px 10px 10px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .infoboxes {
    flex-direction: column;
  }
  .infobox {
    margin: 5px;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #acaaaa;
  border: 100px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 100px none #ffffff;
  border-radius: 49px;
}
